In [1]:
#import library
import pandas as pd

In [2]:
#load the dataset
customer = pd.read_csv(r"C:\Users\Williams\Desktop\datascience\AiPlusInvasion\Data\Customer List.csv")

In [3]:
#copy the dataset into another variable
customer_copy = customer.copy()

In [4]:
#check the dimension
customer_copy.shape

(400, 5)

In [5]:
#show the first 5 observations
customer_copy.head()

   Customer ID  Gender  Age  Salary  Purchased
0            1    Male   19   19000          0
1            2    Male   35   20000          0
2            3  Female   26   43000          0
3            4  Female   27   57000          0
4            5    Male   19   76000          0

In [8]:
#declare the variable that holds the features - the features are:
X = customer_copy.drop(["Customer ID", "Purchased"], axis=1)
X

     Gender  Age  Salary
0      Male   19   19000
1      Male   35   20000
2    Female   26   43000
3    Female   27   57000
4      Male   19   76000
..      ...  ...     ...
395  Female   46   41000
396    Male   51   23000
397  Female   50   20000
398    Male   36   33000
399  Female   49   36000

[400 rows x 3 columns]

In [9]:
#declare the variable that holds the target
y = customer_copy["Purchased"]
y

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64